<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openthinks.goldeneye.core.mapper.ApiSecretsMapper">
  <resultMap id="BaseResultMap" type="com.openthinks.goldeneye.core.model.ApiSecrets">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="biz_uid" jdbcType="BIGINT" property="bizUid" />
    <result column="api_code" jdbcType="VARCHAR" property="apiCode" />
    <result column="api_secret" jdbcType="VARCHAR" property="apiSecret" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, biz_uid, api_code, api_secret, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.openthinks.goldeneye.core.model.ApiSecretsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from api_secrets
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from api_secrets
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from api_secrets
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.openthinks.goldeneye.core.model.ApiSecretsExample">
    delete from api_secrets
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.openthinks.goldeneye.core.model.ApiSecrets">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT UUID_SHORT()
    </selectKey>
    insert into api_secrets (id, biz_uid, api_code, 
      api_secret, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{bizUid,jdbcType=BIGINT}, #{apiCode,jdbcType=VARCHAR}, 
      #{apiSecret,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.openthinks.goldeneye.core.model.ApiSecrets">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT UUID_SHORT()
    </selectKey>
    insert into api_secrets
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="bizUid != null">
        biz_uid,
      </if>
      <if test="apiCode != null">
        api_code,
      </if>
      <if test="apiSecret != null">
        api_secret,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="bizUid != null">
        #{bizUid,jdbcType=BIGINT},
      </if>
      <if test="apiCode != null">
        #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="apiSecret != null">
        #{apiSecret,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.openthinks.goldeneye.core.model.ApiSecretsExample" resultType="java.lang.Long">
    select count(*) from api_secrets
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update api_secrets
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.bizUid != null">
        biz_uid = #{record.bizUid,jdbcType=BIGINT},
      </if>
      <if test="record.apiCode != null">
        api_code = #{record.apiCode,jdbcType=VARCHAR},
      </if>
      <if test="record.apiSecret != null">
        api_secret = #{record.apiSecret,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update api_secrets
    set id = #{record.id,jdbcType=BIGINT},
      biz_uid = #{record.bizUid,jdbcType=BIGINT},
      api_code = #{record.apiCode,jdbcType=VARCHAR},
      api_secret = #{record.apiSecret,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.openthinks.goldeneye.core.model.ApiSecrets">
    update api_secrets
    <set>
      <if test="bizUid != null">
        biz_uid = #{bizUid,jdbcType=BIGINT},
      </if>
      <if test="apiCode != null">
        api_code = #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="apiSecret != null">
        api_secret = #{apiSecret,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.openthinks.goldeneye.core.model.ApiSecrets">
    update api_secrets
    set biz_uid = #{bizUid,jdbcType=BIGINT},
      api_code = #{apiCode,jdbcType=VARCHAR},
      api_secret = #{apiSecret,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.openthinks.goldeneye.core.model.ApiSecretsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from api_secrets
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <!-- generated by SelectOneByExamplePlugin Thu Nov 22 10:03:54 CST 2018 -->
  <select id="selectOneByExample" parameterType="com.openthinks.goldeneye.core.model.ApiSecretsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from api_secrets
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>